.custom-shape-divider-bottom-1714476826 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: -21vh;
    z-index: +1000;
}

.custom-shape-divider-bottom-1714476826 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
    z-index: 1000;
}

.custom-shape-divider-bottom-1714476826 .shape-fill {
    fill: #111827;
}