@import url("https://fonts.cdnfonts.com/css/montserrat");

.animate__animated.animate__pulse {
  --animate-duration: 4s;
}

.textAnim {
  text-align: center;
  font-size: 20px;
  padding: 30px;
}

.mgTx {
  margin: -100px 0 30px 0;
  margin-left: 100px;
}

.mgTxElement {
  margin: 50px 80px 0px 0px;
  text-transform: uppercase;
}

.barraPrCont {
  width: 100%;
  height: 10px;
}

.barraPr {
  height: 100%;
  background-color: #334c81;
  transition: width 0.1s ease-in;
}

.forestBg{
  width: 100%;
  height: 30vh;
  margin-top: -28vh;
  z-index: -200 !important;
  background-image: url('https://i.ibb.co/Dbwx69F/background.png') !important;
  background-position: center;
  background-size: 650px;
  background-repeat: repeat-x;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.textCounter{
  z-index: 100 !important;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
.textCounter{
  font-size: 50px !important;
}
}